<div class="container">

  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <div class="col-sm-7" >

      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i>     <img src="http://www.sofrecom.com/assets/logo-fa37ddc17c8cbd5b765c29254633d301.png" alt="Sofrecom" width="200" height="60">
      </a>
      </div>
      <div class="col-sm-13" >
      <a routerLink="/cats" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-list"></i> Cats
      </a>
      <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-sign-in"></i> Login
      </a>
      <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-user-plus"></i> Register
      </a>
      <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
      </a>
      <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
        <i class="fa fa-lock"></i> Admin
      </a>
      <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-sign-out"></i> Logout
      </a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
